
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="~/Content/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <script src="~/Content/fontawesome-free/js/all.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/personelyazdir.css" media="screen, print" />
    <style>
        #deneme2 {
            background: #d21b00;
            background: linear-gradient(top, #d21b00, #8e0700);
            padding: 20px 25px;
            text-decoration: none;
            color: #fff;
            width: 210px;
            font: bold 30px Arial, Helvetica, sans-serif;
            border-radius: 7px;
            text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.75);
            border: 5px solid #fff;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
            position: absolute;
            width: 200px;
            height: 80px;
            left: 95%;
            top: 25%;
        }

            #deneme2:hover {
                background: linear-gradient(top, #8e0700, #d21b00);
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
                box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.75);
            }

        #den {
            background: #d21b00;
            background: linear-gradient(top, #d21b00, #8e0700);
            padding: 15px 35px;
            text-decoration: none;
            color: #fff;
            font: bold 25px Arial, Helvetica, sans-serif;
            border-radius: 7px;
            text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.75);
            border: 5px solid #fff;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
            width: 200px;
            position: absolute;
            left: 95%;
            top: 15%;
        }

            #den:hover {
                background: linear-gradient(top, #8e0700, #d21b00);
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
                box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.75);
            }
    </style>
</head>
<body>
    <div class="col-lg-10">




        <div id="deneme2" onclick="window.print()" class="btn btn-danger btn-xs"><i class="fas fa-print" style="margin-right:3px;"></i> Yazdır</div>
        <a id="den" href="/AnaSayfa/Index" class="btn btn-danger btn-xs"><i class="fas fa-backward" style="margin-right:3px;"></i> Anasayfa</a>


        <div id="divYazdir">
            <center>


                <h5 class="col-md-10" style="color:black; font-weight:500;">ÖZEL NİYAZİ MUHİBE YEŞİLKAYA</h5>
                <h5 class="col-md-10" style="color:black; margin-top:-12px;font-weight:500; ">YÜKSEKÖĞRENİM ERKEK ÖĞRENCİ YURDU</h5>
                <h5 class="col-md-10" style="color:black; margin-top:-12px;font-weight:500; ">YILLIK İZİN BELGESİ</h5>
                <table class="table table-bordered " style="width:75%;">

                    <tr>
                        <td colspan="3" style="font-weight:500; width:75%; text-align:center;">İzin İsteğinde Bulunan Personelin</td>

                    </tr>
                    <tr>

                        <td style="font-weight:500; width:30%; " colspan="1">Adı Soyadı:</td>
                        <td style="font-weight:500; width:45%;" colspan="2"><input style="border-style:none; " placeholder="Adı Soyadı Giriniz" /></td>

                    </tr>
                    <tr>

                        <td style="font-weight:500;">Ünvanı:</td>
                        <td><input style="border-style:none; " placeholder="Ünvanı Giriniz" /></td>

                    </tr>
                    <tr>

                        <td style="font-weight:500;">İznin Ait Olduğu Yıl:</td>
                        <td><input style="border-style:none; " placeholder="Yılı Giriniz" /></td>

                    </tr>
                    <tr>

                        <td style="font-weight:500;">Toplam İzin Süresi:</td>
                        <td><input style="border-style:none; " placeholder="İzin Süresi Giriniz" /></td>

                    </tr>
                    <tr>

                        <td style="font-weight:500;">Toplam İzinden Kalan İzin Süresi:</td>
                        <td><input style="border-style:none; " placeholder="Kalan izin Süresi Giriniz" /></td>

                    </tr>
                    <tr>

                        <td style="font-weight:500;">Yol İzni:</td>
                        <td><input style="border-style:none; " placeholder="Yol izni Giriniz" /></td>

                    </tr>
                </table>
                <table class="table table-bordered " style="width:75%;">

                    <tr>
                        <td colspan="3" style="font-weight:500; width:75%; text-align:center;">Kullanılacak İzin</td>

                    </tr>
                    <tr>

                        <td style="font-weight:500; width:30%; " colspan="1">Süresi:</td>
                        <td style="font-weight:500; width:45%;" colspan="2"><input style="border-style:none; " placeholder="Süreyi Giriniz" /></td>

                    </tr>
                    <tr>

                        <td style="font-weight:500;">Başlangıç Tarihi:</td>
                        <td><input type="date" style="border-style:none; " placeholder="Başlangıç tarihi Giriniz" /></td>

                    </tr>
                    <tr>

                        <td style="font-weight:500;">Göreve Başlayacağı Tarih:</td>
                        <td><input type="date" style="border-style:none; " placeholder="Göreve Başladığı Tarih" /></td>

                    </tr>
                    <tr>

                        <td style="font-weight:500;">Telefon:</td>
                        <td><input style="border-style:none; " placeholder="Telefon Giriniz" /></td>

                    </tr>
                    <tr>

                        <td style="font-weight:500;">Adres:</td>
                        <td><input style="border-style:none; " placeholder="Adres Giriniz" /></td>

                    </tr>
                    <tr>

                        <td style="font-weight:400;">Yukarıda Belirttiğim tarihler arasında yıllık iznimi kullanmak istiyorum.Gereğinin yapılmasını arz ederim.</td>
                        <td>Adı Soyadı <br />İmza</td>

                    </tr>
                </table>
                <table class="table table-bordered " style="width:75%;">

                    <tr>
                        <td colspan="3" style="font-weight:500; width:75%; text-align:center;">Onay</td>

                    </tr>
                    <tr>

                        <td style="font-weight:400; width:30%; " colspan="1">
                            <br />
                            Yukarıda kimlik bilgileriyer alan personelin belirtilen tarihler arasında yıllık iznini kullanmasında sakınca yoktur.
                        </td>
                        <td style="font-weight:400; width:45%;" colspan="2">Birim Amiri<br />Adı ve Soyadı:<br /><br /><br />İmzası</td>

                    </tr>




                </table>

                <table class="table table-bordered " style="width:75%;">

                    <tr>
                        <td style="font-weight:500; width:75%; text-align:center;">
                            Merkez Selçuklu Hizmet ve Eğitim Vakfı<br />
                            Yönetim Kurulu Başkanı<br />
                            Abdüllatif Başaşçı<br />
                            ONAY  <br /><br /><br />
                        </td>
                     

                    </tr>
                




                </table>

            </center>
        </div>
    </div> 
</body>
</html>




      


