
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <a href="/Ogrenci/Index">
        <div class="col-lg-5">
            <div class="info-box dark-heading-bg">
                <i class="fas fa-address-card"></i>
                <div class="count">Fatura oluştur</div>
                <div class="title">6.674</div>
            </div>
            <!--/.info-box-->
        </div>
    </a>
    <!--/.col-->
    <a href="/Yemek/Index">
        <div class="col-lg-5">
            <div class="info-box dark-heading-bg">
                <i class="fas fa-cubes"></i>
                <div class="count">Fatura Listesi</div>
                <div class="title">7.538</div>
            </div>
            <!--/.info-box-->
            <!--/.col-->
        </div>
    </a>
</div>
<div class="row">
    <a href="/FaturaveSenet/Index">
        <div class="col-lg-5">
            <div class="info-box dark-heading-bg">
                <i class="fas fa-file-invoice"></i>
                <div class="count">Senet Oluştur</div>
                <div class="title">4.362</div>
            </div>
            <!--/.info-box-->
        </div>
        <!--/.col-->
    </a>
    <a href="/Yoklama/Index">
        <div class="col-lg-5">
            <div class="info-box dark-heading-bg">
                <i class="fas fa-chalkboard-teacher"></i>
                <div class="count">Senet Listesi</div>
                <div class="title">1.426</div>
            </div>
            <!--/.info-box-->
        </div>
        <!--/.col-->
    </a>
</div>



