body {
}
#sabah{
    position:absolute;
    top:5px;
    left:0px;
   
}
#sabahra{
    position:absolute;
    top:120px;
    left:210px;
}
#aksamra{
    position:absolute;
    top:162px;
    left:183px;
}
#aksam{
    position:absolute;
    top:5px;
    left:21px;
}