
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <a href="/KurumveTaslaklar/KurumBilgisiEkle">
        <div class="col-lg-5">
            <div class="info-box dark-heading-bg">
                <i class="fas fa-address-card"></i>
                <div class="count">Kurum Giriş</div>
                <div class="title">6.674</div>
            </div>
            <!--/.info-box-->
        </div>
    </a>
    <!--/.col-->
    <a href="/KurumveTaslaklar/KurumListele">
        <div class="col-lg-6">
            <div class="info-box dark-heading-bg">
                <i class="fas fa-archway"></i>
                <div class="count">Kurum Listele</div>
                <div class="title">7.538</div>
            </div>
            <!--/.info-box-->
            <!--/.col-->
        </div>
    </a>
</div>
<div class="row">
    <a href="/KurumveTaslaklar/Taslaklar">
        <div class="col-lg-5">
            <div class="info-box dark-heading-bg">
                <i class="fas fa-file-invoice"></i>
                <div class="count">Taslak Oluştur</div>
                <div class="title">4.362</div>
            </div>
            <!--/.info-box-->
        </div>
        <!--/.col-->
    </a>
 
</div>



